@model  MWBS.Models.PuzzleSolutionModel
    
<table class="table">
    <tr>
        <th>
            Solutions
        </th>
    </tr>
    @if (Model != null)
    {
        if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <tr><td><span style="color: red;">@Model.ErrorMessage</span></td></tr>
        }
        else
        {
            if (Model.SolutionList.Any())
            {
                foreach (string solution in Model.SolutionList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => solution)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>No solutions found =(</td>
                </tr>
            }
        }

    }
</table> 
